<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdbhe.plana">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".main.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mvvm.common_adapter.view.CommonAdapterActivity" />
        <activity android:name=".mvvm.photo_browse.view.PhotoBrowseActivity" />
        <activity android:name=".mvvm.widget.view.WidgetActivity" />
        <activity android:name=".mvvm.upload_download.view.UploadDownloadActivity" />
        <activity
            android:name=".mvvm.splash.SplashActivity"
            android:theme="@style/AppTheme.transparentBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvvm.home.view.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvvm.base_activity.view.BaseActivityDemo"
            android:screenOrientation="portrait" />
        <activity android:name=".mvvm.router_manage.view.RouterTestActivity" />
        <activity android:name=".mvvm.http.view.HttpDemoActivity" />
        <activity android:name=".mvvm.router_manage.view.RouterManageActivity" />
        <activity android:name=".mvvm.utils.view.UtilsActivity" />
        <activity android:name=".mvvm.utils.view.MeasureUnitTranUtilActivity" />
    </application>

</manifest>